<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBE32qP3YaMIuYy6YwEF7hRdH4VO8N5MQ</string>
	<key>GCM_SENDER_ID</key>
	<string>958356296365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.messenger.messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-6ed54</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-6ed54.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:958356296365:ios:bc32723c7abcb5b8a1ac24</string>
</dict>
</plist>